main {
	max-width: 1024px;
	margin: 50px auto;
	font-family: Arial, sans-serif;
	padding-left: 30px;
	padding-right: 30px;
}


/* Стили для секции about*/
.about {
	text-align: center;
}

.about img {
	display: block;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 150px;
	border: 4px solid #ccc;
}

.name {
	font-size: 32px;
	margin-bottom: 5px;
	margin-top: 15px;
	color: #b94646;
}
.city {
	font-size: 20px;
	margin-top: 5px;
}

/* Стили для секции resume */
.item {
	margin-top: 30px;
}
.item h3 {
	color: #b94646;
	text-decoration: underline;
}

.item p {
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 1.5;
}

