$width-bar: 35%;
$width-main: 65%;
$color-main: tomato;
$dark: #444;
$dark-light: #777;
$light: #fff;
$light-dark: #ddd;
$font-dark: #303641;
$font-ligth: rgb(240, 238, 238);


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  width: 1000px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  color: $dark;
}

h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: 400;
  color: $light;
}
p {
  line-height: 2.4rem;
}
section {
  margin-bottom: 50px;
}
.conteiner {
  display: flex;
}
.hidden {
  display: none;
}


.header {
  display: flex;
}

.header__left {
  width: $width-bar;
  background-color: $font-dark;
}
.header__img {
  width: 250px;
  border-radius: 50%;
  border: 5px solid $color-main;
  display: block;
  margin: 50px auto;

}
.header__right {
  width: $width-main;
  text-align: center;
  background-color: $font-ligth;
  padding-top: 100px;

}
.header__title {
  font-size: 6rem;
  margin-bottom: 17px;
}
.header__desc {
  font-size: 2.5rem;
  color: $dark-light;
}

.sidebar {
  width: $width-bar;
  background-color: $font-dark;
  color: $light-dark;
  padding: 30px;

}

.list {
  list-style: none;
  &__item {
    margin-bottom: 15px;
  }
  .fas,
  .fab {
    margin-right: 15px;
    font-size: 2rem;
  }
}

.main {
  width: $width-main;
  background-color: $font-ligth;
  padding: 30px;
  height: 1200px;
}

.footer {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $font-dark;
  color: $light-dark;
}
.footer__logo {
  height: 70px;
  width: 195px;
  background-image: url('./rs_school.svg');
  background-repeat: no-repeat;
  background-position: 50%;
  transition: all .3s;
  &:hover {
    background-image: url('./rs_school-hover.svg');
  }
}

.footer__date {
  font-size: 2.4rem;
  font-weight: 700;
}

.footer__github {
  font-size: 4rem;
  color: $light-dark;
  transition: all .3s;
  &:hover {
    color: $color-main;
  }
}